<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="{{ _charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Fakery Generator{% endblock %}</title>

        {% stylesheets 
            'bootstrap/css/bootstrap.min.css'
            'font-awesome/css/font-awesome.min.css'
            'css/flags/flags.css'
            output='compiled/css/vendors.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets 
            'css/main.less'
            filter='cssrewrite,?cssmin' 
            output='compiled/css/main.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block content %}{% endblock %}

        {% javascripts 
            'js/jquery-2.1.0.min.js'
            'js/jquery-migrate-1.2.1.min.js'
            'bootstrap/js/bootstrap.min.js'
            output='compiled/js/vendors.js' 
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% javascripts 
            'js/main.js'
            filter="?jsmin" 
            output='compiled/js/main.js' 
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
